html, body {
  font-family: 'Roboto', sans-serif;
}

.App {
  font-size: 1.3em;
}

.greeting {
  margin-bottom: 15px;
}

.inventoryHeader {
  margin: 10px 0;
  text-align: center;
}

.inventoryGrid {
  margin-bottom: 20px;
}

.countNumber {
  display: inline-block;
  min-width: 40px;
  text-align: center;
}

.countButton {
  width: 45px;
  height: 45px;
  font-size: 1em;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  padding: 5px;
}

/* vim: set ts=2 sw=2 vts=2 sta sts=2 sr et ai: */
