html, body {
  font-family: 'Roboto', sans-serif;
}

.App {
  font-size: 1.3em;
}

.greeting {
  margin-bottom: 15px;
}

.inventoryHeader {
  margin: 10px 0;
  text-align: center;
}

.showButton {
  border: 1px solid lightgray;
  border-radius: 2px;
  color: lightgray;
  background-color: white;
}

.inventoryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 480px;
  margin-bottom: 20px;
}

.item {
  margin: 20px 0;
  text-align: center;
}

.countNumber {
  display: inline-block;
  min-width: 120px;
  margin: 15px 0;
  text-align: center;
}

.countButton {
  width: 70px;
  height: 70px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  padding: 5px;
}

/* vim: set ts=2 sw=2 vts=2 sta sts=2 sr et ai: */
