html, body {
  font-family: 'Roboto', sans-serif;
}

.App {
  font-size: 1.3em;
}

.greeting {
  margin-bottom: 15px;
}

.inventoryHeader {
  margin: 10px 0;
  text-align: center;
}

.inventorySubheader {
  margin: 5px 0;
  text-align: center;
  font-weight: normal;
}

.subtleButton {
  height: 24px;
  line-height: 22px;
  margin: 5px;
  border: 1px solid darkgray;
  border-radius: 2px;
  color: darkgray;
  background-color: white;
}

.bold {
  font-weight: bold;
}

.inventoryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 430px;
  margin-bottom: 20px;
}

.inventoryGridSmall2 {
  grid-template-columns: repeat(2, 1fr);
}

.inventoryGridSmall3 {
  grid-template-columns: repeat(3, 1fr);
}

.item {
  margin: 20px 0;
  text-align: center;
}

.countNumber {
  display: inline-block;
  min-width: 120px;
  margin: 15px 0;
  text-align: center;
}

.countButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: blue;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  padding: 5px;
}

/* vim: set ts=2 sw=2 sta sts=2 sr et ai: */
